body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-one {
    background-color: #1F2937;
    padding: 0px 96px;
}

.container-two {
    background-color: #F8F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;

}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 72px 0px;
    background-color: #E5E7EB;
}

.container-four {
    display: flex;
    margin: 5% 20%;
    padding: 48px;
    justify-content: space-around;
    border-radius: 8px;
    background-color: #3882F6;
    gap: 16px;
}

.main {
    padding: 1000px, 0px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  48px 0px;
}

h1, h2, h3 {
    margin: 0px;
}

button {
    width: max-content;
    background-color: #3882F6;
    color: #F8F8FA;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #f3f7f3; /* WHite */
    color: rgb(8, 8, 8);
}

.button-outline {
    border: 2px solid white;
}

.signup-text {
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap:32px;
    margin: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-text {
    display: flex;
    justify-content: center;
    color: #a6a7aa;
}

.illustration {
    max-width:128px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.footer {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F8F8FA;
}

iframe {
    margin-left: 48px;
    min-width: 0
}

/* ID's */
#header-logo {
    max-width: 72px;
    max-height: 72px;
    flex-shrink: 0;
}

#intro-header {
    font-size: 48px;
    font-weight:bolder;
    color: #F8F8FA;
}


#intro-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

#cards-header {
    color: #1F2937;
    display: flex;
    justify-content: center;
}

#quote {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 40%;
}

#quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    align-self: flex-end;
    padding: 0% 40%;
}